.thumbnail {
  transition: ease-out 0.2s;
  border-radius: 4px;
}

.thumbnail:hover {
  transition: ease-in 0.2s;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.std-link {
  color: #2b6cb0;
  transition: color ease-out 200ms;
}

.std-link:hover {
  text-decoration: none;
  color: #1a202c;
  transition: color ease-in 200ms;
}

.back-btn {
  border: 1px solid #e53e3e !important;
}
.save-btn {
  border: 1px solid #2b6cb0 !important;
}
