body {
  background-image: url('./img/star-exposure.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.note-item-enter {
  opacity: 0.01;
}
.note-item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.note-item-exit {
  opacity: 1;
}
.note-item-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.nav-item:link, .nav-item:hover, .nav-item:active, .nav-item:visited {
  text-decoration: none;
  color: #fff;
}

.form-title {
  background-color: #e9ecef;
  padding: 5px;
  border-radius: 4px;
}

.form-section {
  margin-top: 10px;
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 4px;
}

.std-link:hover {
  text-decoration: none;
}

li.list-group-item-cust {
  background-color: #e9ecef;
}

.not-found {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 4px;
}



@media screen and (max-width: 450px) {
  .fa {
      display: none;
  }
}
