.note-item-enter {
  opacity: 0.01;
}
.note-item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.note-item-exit {
  opacity: 1;
}
.note-item-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.nav-item:link {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.nav-item:hover, .nav-item:active, .nav-item:visited {
  color: rgba(255,255,255,.5);
}

.form-title {
  background-color: #fff;
  padding: 5px 0 5px 0;
  border-radius: 4px;
}

.form-section {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}
